<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.toly1994.vvi_mds">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".pkg3_bnb_tab.V05_TabLayoutActivity">

        </activity>


        <activity android:name=".pkg1_toolbar_card.V02_CardViewActivity">

        </activity>

        <!--<activity android:name=".v02_card.V02_CardPomeActivity">-->

        <!--</activity>-->

        <activity
            android:name=".pkg5_coll_palette.V07_CollapsingPaletteActivity"
            android:theme="@style/TranslucentTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.home.HomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".pkg4_app_coo.V06_ACActivity"/>
        <activity
            android:name=".pkg1_toolbar_card.V01_ToolBarActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity android:name=".pkg7_behavior.V09_BehaviorActivity"/>
        <activity android:name=".pkg2_fab_sna_sheet.V03_FabSnaBsX3Activity"/>
        <activity
            android:name=".pkg6_drawer_nav_input.V08_DrawerNavigationTextInputActivity"
            android:theme="@style/LoginTheme">
        </activity>
        <activity android:name=".pkg3_bnb_tab.V04_BottomNavigationBarActivity"/>
        <activity android:name=".pkg7_behavior.V10_BehaviorActivity"/>
        <activity android:name=".pkg7_behavior.V11_BehaviorActivity"/>
        <activity android:name=".pkg_08_other.V012_SwipeRefreshActivity"/>
        <activity android:name=".pkg_08_other.V012_GoodsActivity">

        </activity>
        <activity android:name=".pkg_08_other.V012_GridActivity">

        </activity>
        <activity android:name=".pkg_08_other.V012_ChatActivity">

        </activity>
        <activity android:name=".pkg_08_other.V012_QQMsgActivity">

        </activity>
    </application>

</manifest>